@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Road+Rage&display=swap');
body{
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(w1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.box {
    max-width: 600px;
    margin: 90px auto;
    background-color: #fdf5ee;
    padding: 20px;
    box-shadow: 0px 2px 8px -4px rgb(8, 8, 8);
    border-radius: 6px;

}

.title {
    text-align: center;
    color:#4a636d;
    font-size: 60px;;
    font-family: 'Road Rage', cursive;
    margin:30px;
}

/*-----input-----*/

.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}
input[type=text]:focus{
    outline-color:#5b7681;
}

.task-list {
    list-style-type: none;
    padding: 0;
}
.task-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color:#b4cec5;
    border-radius: 7px;
    color:rgb(99, 98, 98);
    box-shadow: 0.5px 0.3px 2px -1px;
    font-family: Bahnschrift, Helvetica, sans-serif;
}

.task-item:hover {
    box-shadow: 0px 2px 8px -2px rgb(163, 163, 163);
}

.task-item input[type="checkbox"] {
    margin-right: 8px;
}
.task-item .task-name {
    flex: 1;
}
.task-item .delete-btn {
    color: #4a636d;
    cursor: pointer;
}

/*-----Reset-----*/

.reset-b{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4a636d;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.reset-b:hover {
    box-shadow: 0px 2px 8px -2px rgb(8, 8, 8);
}

.task-item .delete-btn:hover{
    color:#263035;
}
